:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.verify-password-form-field {
  margin-bottom: 0 !important;
}

.password-verify-error-wrapper {
  padding: 0 1em;
  height: 14px;
  position: relative;
  margin-bottom: 8px !important;
  margin-top: 1px !important;
}
