@use "@angular/material" as mat;
@import "styles/breakpoint";

.container {
  padding: 1.1rem;
  border-radius: 5px;
  width: 90vw;
  @include for-tablet-landscape-up {
    width: 40vw;
  }
}

.elevation {
  @include mat.elevation-transition();
  @include mat.elevation(12);

  &:active {
    @include mat.elevation(18);
  }
}
